@model Orchard_Project_Library_2.BookModule.ViewModels.BookPartViewModel

<div><strong>@T["{0}: {1}", @Model.Author, Model.Title]</strong></div>
<div>@T["Publication Year: {0}", @Model.PublicationYear]</div>
<div>@T["ISBN: {0}", @Model.ISBN]</div>
<div>@T["Description: {0}", @Model.Description]</div>